{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<h1>A Field Guide to Angry Birds</h1>

<h2>Game that lodge in the brain often have comical stars</h2>

{% if lastBird is not null %}
    <p>Last bird seen: <a href="{{ path('bird_single', {'id': lastBirdId}) }}">{{ lastBird.name }}</a></p>
{% endif %}

<p><a href="{{ path('calendar') }}">Download Calendar</a></p>


<div class="container-fluid">
    <div class="row">
        {% for id, bird in birdsList %}
        <div class="col-3 card text-center bg-{{ cycle(['green', 'blue'], loop.index0) }}">
            <img src="{{ asset('assets/images/' ~ bird.image) }}" class="card-img-top" alt="{{bird.name}}">
            <div class="card-body">
                <h5 class="card-title"><a href='{{ path('bird_single', {'id': id}) }}'>{{bird.name}}</a></h5>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
